<style>
body {
  background-image: url('https://media.giphy.com/media/t6conLiC13yyaqgijR/giphy.gif');
  background-size: cover;
}

</style>


<h1><%= @listing.title %>  ($<%= @listing.price %>)  </h1>

<p><%= image_tag "#{@listing.image_url}", style: 'height:20%:width:20%' %></p><br>
<h2> Location:  <%= @listing.location %>      </h2>
<h2> Description  <%= @listing.description %>   </h2>
  <br></br>
