<style>
body {
  background-image: url('https://images.unsplash.com/photo-1493606278519-11aa9f86e40a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80');
  background-size: cover;
}
</style>

<h1>  <%= @user.name %></h1>
<h3>Here are your reservations:</h3>
<ol>
  <% @user.listings.each do |listing| %>
<li><%= link_to listing.title, listing %>: ($<%= listing.price %>)</li>
  <%= listing.location %>
   <%= listing.description %>
   <br><br>
  <% end %>

</ol>
