<!DOCTYPE html>
<html>
  <head>
    <title>ParkMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= button_to "Home", listings_path, method: :get %>
    <% if session[:user_id] %>
    <h1> <%= "Hello #{@current_user.name}!" %> </h1>
    <%= button_to "Profile", @current_user, method: :get %><br>
    <%= button_to "Log Out", log_out_path, method: :delete %>
    <p> <%= button_to "All Listings", listings_path, method: :get %> </p>
    <p> <%= button_to "Create Listing", new_listing_path, method: :get %> </p>
    <% else %>
    <p> <%= button_to "Login", new_session_path, method: :get %> </p>
    <p><%= button_to "Create User", new_user_path, method: :get %></p>

    <% end %>
    <%= yield %>
  </body>
</html>
