<!DOCTYPE html>
<html>
  <head>
    <title>ParkMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session[:user_id] %>
    <h1> <%= "Welcome Back!" %> </h1>
    <%= button_to "Log Out", log_out_path, method: :delete %>
    <p> <%= link_to "All Listings", listings_path %> </p>
    <p> <%= link_to "Create Listing", new_listing_path %> </p>
    <% else %>
    <p> <%= link_to "Login", new_session_path %> </p>
    <p><%= link_to "Create User", new_user_path %></p>

    <% end %>
    <%= yield %>
  </body>
</html>
